/**
* @name Channels & Role recolor
* @author krystalskullofficial
* @version 3.0
* @description recolors the icon on Channel & Role tab so they are easier to see/notice
*/

/*--- Channel List Icon Recolor ---*/
.icon_d8bfb3:has(path[d^="M18.5 23c.88"]) path[d^="M18.5 23c.88"] {
    color: var(--green-360) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- Chat Icon Recolor ----*/
.icon_e44302 path[d^="M18.5 23c.88"] {
    fill: var(--green-360) !important;
}
