/**
* @name IconRecolors
* @author krystalskullofficial, byeoon
* @version 5.0
* @description Recolors channel icons to make them easier to notice.
*/

/*--- Channel&Roles Channel List Icon Recolor ---*/
.icon_d8bfb3:has(path[d^="M18.5 23c.88"]) path[d^="M18.5 23c.88"] {
    color: var(--green-360) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- Channel&Roles Chat Icon Recolor ---*/
.icon_fc4f04 path[d^="M18.5 23c.88"] {
    fill: var(--green-360) !important;
}

/*--- Channels&Roles Message bar Channels ---*/
.icon_bcc24e path[d^="M18.5 23c.88" ] {
    fill: var(--green-360) !important;
}
/*-------------------------------------------------------------------------------------------------------------------*/

/*--- 'NSFW' Channel List Icon Recolor ---*/
.icon_d8bfb3:has(path[d^="M18.09 1.63"]) path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- 'NSFW' Chat Icon Recolor ---*/
.icon_fc4f04 path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Message Bar Icon Recolor ---*/
.icon_f23da8 path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Thread Icon Chat Icon Recolor ---*/
.icon_fc4f04 path[d^="M18.09 15.63c.4-.7"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Message Bar Icon Recolor ---*/
.icon_bcc24e path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Thread Icon Message Bar Icon Recolor ---*/
.icon_bcc24e path[d^="M18.09 15.63c.4-.7" ] {
    fill: var(--status-danger-background) !important;
}

/*--- Ping Warning ---*/
.ping_c02c63 path[d^="M18.09 14.63c.4-.7"] {
    fill: var(--status-danger-background) !important;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*--- Lock Icon Channel List Recolor ---*/
.icon_d8bfb3:has(path[d^="M16 4h.5v"]) path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
    border: 1px solid rebeccapurple !important; }

/*--- Stages Lock Icon Channel List Recolor (since they use a differnt lock for some reason) ----*/
.icon_d8bfb3:has(path[d^="M16.5 18H16a1"]) path[d^="M16.5 18H16a1"] {
    fill : var(--yellow-200) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- Chat Lock Icon Recolor ---*/
.icon_fc4f04 path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Lock Icon Message Bar Channels ---*/
.icon_bcc24e path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Lock Thread Icon Message Bar Icon Recolor ---*/
.icon_bcc24e path[d^="M16 18h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Vencord's UserVoiceShow Icon Recolor ---*/
.vc-uvs-speaker path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}
/*-------------------------------------------------------------------------------------------------------------------*/

/*--- Channel List Outer Circle Icon Recolor ---*/
.icon_d8bfb3:has(path[d^="M19.61 18.25a1.08"]) path[d^="M19.61 18.25a1.08"] {
    color: var(--blue-330) !important;
}

/*--- Channel List Outer Circle Icon Recolor(Locked Stage) ---*/
.icon_d8bfb3:has(path[d^="M21.92 14.08c.32"]) path[d^="M21.92 14.08c.32"]{
    color: var(--blue-330) !important;
}

/*--- Chat Icon Recolor ---*/
.icon_fc4f04 path[d^="M19.61 18.25a1.08"] {
    fill: var(--blue-330) !important;
}