/**
* @name IconRecolors
* @author krystalskullofficial, byeoon
* @description Recolors channel icons to make them easier to notice.
* @version AutoUpdates
* @authorId 929208515883569182
* @website https://krstlskll69.github.io/
* @source https://github.com/KrstlSkll69/vc-snippets?tab=readme-ov-file#6th-iconrecolors-
*/

@import url('https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/NSFWChannelRecolor.css');
@import url('https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/PrivateChannelRecolor.css');
@import url('https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/StageRecolor.css');
@import url('https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/SyncedWithGameRecolor.css');
@import url('https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/Channel%26RolesRecolor.css');
