/**
* @name IconRecolors
* @author krystalskullofficial, byeoon
* @description Recolors channel icons to make them easier to notice.
* @version 5.1.0
* @authorId 929208515883569182
* @website https://krstlskll69.github.io/
* @source https://github.com/KrstlSkll69/vc-snippets?tab=readme-ov-file#6th-iconrecolors-
*/

/*--- Channel&Roles Channel List Icon Recolor ---*/
[class^=icon__]:has(path[d^="M18.5 23c.88"]) path[d^="M18.5 23c.88"] {
    color: var(--green-360) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- Channel&Roles Chat Icon Recolor ---*/
[class^=icon__] path[d^="M18.5 23c.88"] {
    fill: var(--green-360) !important;
}

/*--- Channels&Roles Message bar Channels ---*/
[class^=icon__] path[d^="M18.5 23c.88" ] {
    fill: var(--green-360) !important;
}
/*-------------------------------------------------------------------------------------------------------------------*/

/*--- 'NSFW' Channel List Icon Recolor ---*/
[class^=icon__]:has(path[d^="M18.09 1.63"]) path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- 'NSFW' Chat Icon Recolor ---*/
[class^=icon__] path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Message Bar Icon Recolor ---*/
[class^=icon__] path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Thread Icon Chat Icon Recolor ---*/
[class^=icon__] path[d^="M18.09 15.63c.4-.7"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Message Bar Icon Recolor ---*/
[class^=icon__] path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Thread Icon Message Bar Icon Recolor ---*/
[class^=icon__] path[d^="M18.09 15.63c.4-.7" ] {
    fill: var(--status-danger-background) !important;
}

/*--- Commented out until internet shit enough to actually test ---*/
/*--- Ping Warning ---*
.ping_c02c63 path[d^="M18.09 14.63c.4-.7"] {
    fill: var(--status-danger-background) !important;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*--- Lock Icon Channel List Recolor ---*/
[class^=icon__]:has(path[d^="M16 4h.5v"]) path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
    border: 1px solid rebeccapurple !important; }

/*--- Stages Lock Icon Channel List Recolor (since they use a differnt lock for some reason) ----*/
[class^=icon__]:has(path[d^="M16.5 18H16a1"]) path[d^="M16.5 18H16a1"] {
    fill : var(--yellow-200) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- Chat Lock Icon Recolor ---*/
[class^=icon__] path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Lock Icon Message Bar Channels ---*/
[class^=icon__] path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Lock Thread Icon Message Bar Icon Recolor ---*/
[class^=icon__] path[d^="M16 18h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Vencord's UserVoiceShow Icon Recolor ---*/
.vc-uvs-speaker path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}
/*-------------------------------------------------------------------------------------------------------------------*/

/*--- Channel List Outer Circle Icon Recolor ---*/
[class^=icon__]:has(path[d^="M19.61 18.25a1.08"]) path[d^="M19.61 18.25a1.08"] {
    color: var(--blue-330) !important;
}

/*--- Channel List Outer Circle Icon Recolor(Locked Stage) ---*/
[class^=icon__]:has(path[d^="M21.92 14.08c.32"]) path[d^="M21.92 14.08c.32"]{
    color: var(--blue-330) !important;
}

/*--- Chat Icon Recolor ---*/
[class^=icon__] path[d^="M19.61 18.25a1.08"] {
    fill: var(--blue-330) !important;
}