/**
* @name NSFW recolor
* @author krystalskullofficial
* @version 5.0
* @description recolors the icon for 'NSFW' channels so they are easier to see/notice
*/

/*--- 'NSFW' Channel List Icon Recolor ---*/
.icon_d8bfb3:has(path[d^="M18.09 1.63"]) path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- 'NSFW' Chat Icon Recolor ---*/
.icon_fc4f04 path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Message Bar Icon Recolor ---*/
.icon_bcc24e path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Thread Icon Message Bar Icon Recolor ---*/
.icon_bcc24e path[d^="M18.09 15.63c.4-.7" ] {
    fill: var(--status-danger-background) !important;
}

/*--- Ping Warning ---*/
.ping_c02c63 path[d^="M18.09 14.63c.4-.7"] {
    fill: var(--status-danger-background) !important;
}