[class*=linkTop_]:has(> [class*=iconContainer__] [d^="M18.09 1.63"]) > [class*=children_]::after {
    content: "NSFW";
    background: var(--status-danger-background);
    color: var(--status-danger-text);
    padding: 0 6px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 16px;
    margin-left: 4px;
}