/**
* @name NFSWtag
* @author ryan.0324, krystalskullofficial
* @version 3.0
* @description A tag for 'NFSW' channels so they are easier to see/notice. Also now recolors the small triangle too be red
*/

/*note: you must have the redesign icon experiment disabled for this too work*/

/*---'NSFW' Label---*/
[class*=linkTop_]:has([class*=iconContainer__] [d^="M18.09 1.63"]) > [class*=children_]::after {
    content: "NSFW"; 
    background: var(--status-danger-background);
    color: var(--status-danger-text);
    padding: 0 6px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 16px;
    margin-left: 4px;
}

/*---Warning Icon Recolor---*/
.icon_d8bfb3:has(path[d^="M18.09 1.63"]) path[d^="M18.09 1.63"] {
    fill: var(--text-danger) !important;
    border: 1px solid rebeccapurple !important;
  }
