/**
* @name NSFW recolor
* @author krystalskullofficial
* @version 5.0
* @description recolors the icon for 'NSFW' channels so they are easier to see/notice
* @authorId 929208515883569182
* @website https://krstlskll69.github.io/
* @source https://github.com/KrstlSkll69/vc-snippets?tab=readme-ov-file#12th-swap-mic-and-deafen-icon-
*/

/*--- 'NSFW' Channel List Icon Recolor ---*/
[class^=icon__]:has(path[d^="M18.09 1.63"]) path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- 'NSFW' Chat Icon Recolor ---*/
[class^=icon__] path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Message Bar Icon Recolor ---*/
[class^=icon__] path[d^="M18.09 1.63"] {
    fill: var(--status-danger-background) !important;
}

/*--- 'NSFW' Thread Icon Message Bar Icon Recolor ---*/
[class^=icon__] path[d^="M18.09 15.63c.4-.7" ] {
    fill: var(--status-danger-background) !important;
}

/*--- Ping Warning ---*/
[class^=ping_] path[d^="M18.09 14.63c.4-.7"] {
    fill: var(--status-danger-background) !important;
}