/**
* @name Private Channel recolor
* @author krystalskullofficial
* @version 5.0
* @description recolors the icon for Private channels so they are easier to see/notice
* @authorId 929208515883569182
* @website https://krstlskll69.github.io/
* @source https://github.com/KrstlSkll69/vc-snippets?tab=readme-ov-file#12th-swap-mic-and-deafen-icon-
*/

/*---Lock Icon Channel List Recolor---*/
[class^=icon__]:has(path[d^="M16 4h.5v"]) path[d^="M16 4h.5v"] {
    fill: var(--yellow-200)!important;
    border: 1px solid rebeccapurple !important; }

/*---Stages Lock Icon Channel List Recolor (since they use a differnt lock for some reason)----*/
[class^=icon__]:has(path[d^="M16.5 18H16a1"]) path[d^="M16.5 18H16a1"] {
    fill : var(--yellow-200) !important;
    border: 1px solid rebeccapurple !important;
}

/*--- Chat Lock Icon Recolor ---*/
[class^=icon__] path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Lock Icon Message Bar Channels ---*/
[class^=icon__] path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Lock Thread Icon Message Bar Icon Recolor ---*/
[class^=icon__] path[d^="M16 18h.5v"] {
    fill: var(--yellow-200) !important;
}

/*--- Vencord's UserVoiceShow Icon Recolor ---*/
.vc-uvs-speaker path[d^="M16 4h.5v"] {
    fill: var(--yellow-200) !important;
}
