/**
* @name Stage Recolor
* @author KrystalSkullOfficial
* @description Recolors the icon for stages so they are easier to see/notice.
* @version 5.1.0
* @authorId 929208515883569182
* @website https://krstlskll69.github.io/
* @source https://github.com/KrstlSkll69/vc-snippets?tab=readme-ov-file#5th-stage-icon-recolor-
*/

/*--- Channel List Outer Circle Icon Recolor ---*/
[class^=icon__]:has(path[d^="M19.61 18.25a1.08"]) path[d^="M19.61 18.25a1.08"] {
    color: var(--blue-330) !important;
}

/*--- Channel List Outer Circle Icon Recolor(Locked Stage) ---*/
[class^=icon__]:has(path[d^="M21.92 14.08c.32"]) path[d^="M21.92 14.08c.32"]{
    color: var(--blue-330) !important;
}

/*--- Chat Icon Recolor ---*/
[class^=icon__] path[d^="M19.61 18.25a1.08"] {
    fill: var(--blue-330) !important;
}