/**
* @name Maxwell watchs your soul
* @author jaxorssmthng, krystalskullofficial
* @description Cat (it watches your soul)
* @version 2.1.0
* @authorId 929208515883569182
* @website https://krstlskll69.github.io/
* @source https://github.com/KrstlSkll69/vc-snippets?tab=readme-ov-file#10th-cat-it-watches-your-soul-
*/
[class^="panels_"]::before {
    content: "";
    width: 30px;
    height: 47px;
    left: 200px;
    margin-top: -48px;
    position: absolute;
    background-image: url('https://cdn.discordapp.com/emojis/1086739148582436964.webp?size=48&amp;quality=lossless');
}