/**
* @name ViewBoth@andStatus
* @author krystalskullofficial
* @description View both STATUS and USERNAME at the same time.
* @version 4.1.0
* @authorId 929208515883569182
* @website https://krstlskll69.github.io/
* @source https://github.com/KrstlSkll69/vc-snippets?tab=readme-ov-file#7th-showbothandstatus--this-snippet-shows-both-your-discord-username-and-status-at-the-same-time
*/
[class^=avatarWrapper_] [class^=nameTag_] [class^=hovered_]::before{
  color: var(--text-muted);
  content: "@";
}

.container__37e49 .hovered__0263c, .hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .default__0263c{
  opacity: 1!important;
  transform: none;
}

[class^=hoverRoll] > [class^=default]
{
margin-top: 15px;
}