/**
* @name ViewBoth@andStatus
* @author krystalskullofficial, riddim_glitch
* @description View both STATUS and USERNAME at the same time.
* @version 5.1.0
* @authorId 929208515883569182
* @website https://krstlskll69.github.io/
* @source https://github.com/KrstlSkll69/vc-snippets?tab=readme-ov-file#7th-showbothandstatus--this-snippet-shows-both-your-discord-username-and-status-at-the-same-time
*/

/*
This is a custom variable that someone can use to give themself a custom 'discriminator' ~~ https://discord.fandom.com/wiki/Discriminator

:root{
  --Discriminator-ShowBoth: "#--!!Enter 4 custom numbers here!!--"
}

*/

[class^=avatarWrapper_] [class^=nameTag_] [class^=hovered_]::before{
  color: var(--text-muted);
  content: "@";
}

[class^=avatarWrapper_] [class^=nameTag_] [class^=hovered_]::after{
  color: var(--text-muted);
  content: var(--Discriminator-ShowBoth);
  font-family: var(--font-code) !important;
}

.container__37e49 .hovered__0263c, .hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .default__0263c{
  opacity: 1!important;
  transform: none;
}

[class^=hoverRoll] > [class^=default]
{
margin-top: 15px;
}